@charset "utf-8";
/* CSS Document */
#dangki{
	margin-top: 100px;
	padding-left: 0px;
}
#dangki form table tr td {
	padding: 5px;
}
#dangki{
	border-color: aquamarine;
	background-color: #45C7F4;
	padding: 2em;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}

