@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;	
}
main {
	display: table;
	width: 100%;
}

aside{
	width: 15%;
	margin-left: 10%;
}
section{
	width: 65%;
	margin-right: 5%;
}
.column {
	float: left;
	padding: 10px;
}

nav {
	margin-left: 25%;
	margin-right: auto;
}
nav img {
	float: left;
}
.fnav {
	list-style-type: none;
	margin: 10px;
	padding-top: 30px;
	overflow: hidden;
	text-align:center;
}

.fnav_item {
	float:left;
}
.fnav_item a {
	color:#000;
	text-decoration: none;
	padding: 15px 15px;
	font-weight: bold;
}

.fnav_item a:hover {
	color: #06C;
	text-decoration: none;
	padding: 15px 15px;
	font-weight: bold;
	font-size: 20px;
}
/*thanhmenu*/
.menu-wrapper, .menu a{
  width: 100%;
}

.menu-wrapper {
	margin-left: 20%;
	}
.menu::after{
  content: '';
  clear: both;
  display: block;
}

.menu a{
  display: block;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;
}

.menu li{
  position: relative;
}

.menu > li{
  float: left;
}

.menu, .menu ul{
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: white;
}

.menu ul li+li{
  border-top: 1px solid #fff;
}

.menu ul{
  position: absolute;
  box-shadow:  5px 5px 10px 0 rgba(0,0,0, 0.5);
}

.menu > li ul, .menu ul ul{
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: -1;
  visibility: hidden;
}

.menu > li ul{
  top: 130%;
  left: 0;
}

.menu ul ul{
  left: 130%;
  top: 0;
}

.menu ul a{
  width: 250px;
}

.menu > li:hover > ul{
  top: 100%;
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.menu ul > li:hover > ul{
  left: 100%;
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.menu-gold, .menu-gold a{
  color: #000;
}
.menu-gold a:hover{
  background-color: #FFF;
  color: #F6C;
}
img{
	margin-top: 25px;
	}

#white{
	background-color:#FFF;
	width: 100%;
	height: 450px;
	text-align:center;
	font-size: 24px;
	padding: 25px 15% 0px 15%;
}
#black{
	background-color:#000;
	color:#FFF;
	width: 100%;
	height: 540px;
	text-align:center;
	font-size: 24px;
	padding: 25px 30% 0px 30%;
	}
#white-sc{
	background-color:#FFF;
	width: 100%;
	height: 450px;
	text-align:center;
	font-size: 24px;
	padding: 25px 30% 0px 30%;
}
.text{
	font-size: 80px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
#white-th{
	background-color:#FFF;
	width: 100%;
	height: 450px;
	text-align:center;
	font-size: 24px;
	padding: 150px 30% 0px 30%;
}

#learnmore{
	text-align:center;
	width: 100%;
	margin-top: 200px;
	}
#learnmore a{
	border-style:solid;
	border-width:thin;
	border-radius: 50px;
	padding: 15px;
	text-decoration:none;
	color: #000;
	}
#learnmore a:hover{
	border-style:solid;
	border-width:thin;
	border-radius: 50px;
	border-color: #F9C;
	padding: 15px;
	text-decoration: none;
	background-color: #F9C;
	color: #FFF;
	}

.menu-final{
	width:100%;
	margin-top: 200px;
	padding-left: 20%;
	padding-right: 20%;
	}	
.menu-final-cl{
	float:left;
	list-style-type: none;
	width: 20%;
	margin-left: 0px;
	}
.clfn a{
	color:#000;
	text-decoration: none;
	}	
.clfn-td{
	color: #F9C;
	font-weight: bolder;
	
}
#sb a{
	border-style:solid;
	border-width:thin;
	border-radius: 50px;
	padding: 10px;
	color: #000;
	text-decoration: none
	}
#sb a:hover {
	border-style:solid;
	border-width:thin;
	border-radius: 50px;
	padding: 10px;
	color: #FFFFFF;
	background-color: #F9C;
	text-decoration: none;
	}

footer{
	margin-top: 500px;
	width: 100%;
	height: auto;
	padding-left: 20%;
	padding-right: 20%;
}
hr{
	width: 1080px;
}
.ft-left{
	float: left;
}
.ft-medium{
	float: left;
}
.ft-right{
	float: left;
	position: absolute;
    right: 0px;
    width: 30%;
	padding-top: 30px;
}
.ft-medium-item{
	float: left;
	padding-top: 60px;
	padding-left: 30px;
	list-style-type: none;
}
.ft-medium-item a{
	text-decoration: none;
	color: #000000;
}
.ft-medium-item a:hover{
	text-decoration: none;
	color: #F9C;
}
.ft-right img{
	margin-left: 30px;
	border-radius: 100%;
	background-color: #FFFFFF;
}
.ft-right img:hover{
	margin-left: 30px;
	border-radius: 100%;
	background-color: #ABABAB;
}
